//------------------------ section 6 ------------------------
#carousel-deforestation {
    background: url("../src/images/greenhousegas-emission.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#carousel-greenhousegas {
    background: url("../src/images/greenhousegas-emission.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#carousel-biodiversity-loss {
    background: url("../src/images/greenhousegas-emission.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}