.webgl-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
}
canvas.webgl {
    filter: grayscale(100%);
    opacity: 0.4;
}

#home-page h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
